{% extends "base.html"%}
{% load widget_tweaks %}

{% block contents %}
<div class="container">
    <div id="" class="form-container compact-login-form">
    {% if messages %}
        <div class="title">
	    {% for message in messages %}
	        {% if 'student_login_incorrect' in message.extra_tags %}
			<script>
			     student_login_error = true;
			</script>
		    <div class="alert alert-danger" id="">
			    <p class='server-message'> {{ message }} </p>
		    </div>
		{% endif %}
	        {% if 'admin_login_incorrect' in message.extra_tags %}
			<script>
			     admin_login_error = true;
			</script>
		    <div class="alert alert-danger" id="">
			    <p class='server-message'> {{ message }} </p>
		    </div>
		{% endif %}
	    {% endfor %}
        </div>
    {% endif %}
	    <form id="admin-login-form" action="" role="form" method="post">
		    {% csrf_token %}
                <div class="form-group">
			<label class="control-label" for="{{form.username.auto_id}}">
				{{form.username.label}}
			</label>
			        {% render_field form.username class+="form-control" %}
		</div>

		<div class="form-group">
			<label class="control-label" for="{{form.password.auto_id}}">
		        	{{form.password.label}}
			</label>
			        {% render_field form.password class+="form-control"%}
		</div>
		<div class="">
	                <button type="submit" class="btn btn-primary login-button">
		                Login
			</button> 
			<div class="forgot-password forgot-password-static">
				<a class="" href="{% url 'admin:password_reset_request' %}">Forgot Password?</a>
			</div>
			<input type="hidden" name="next" value="{{request.GET.next}}">
	    </form>


    </div>
</div>
{% endblock %}
