{% extends "base.html" %}
{% load widget_tweaks %}
{% block contents %}
<div class="container">
	<div class="page-title grade-title">Review {{course|upper}} Grades</div>
	<div class=grade-summary> fail <span class="badge">{{fail}}</span></div>
	<div class=grade-summary> pass <span class="badge">{{pass}}</span></div>
	<div class=grade-summary> total <span class="badge">{{total}}</span></div>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>ID Number</th>
				<th>Mark</th>
			</tr>

		</thead>
		<tbody>
			{% for key, value in grades.items %}
			<tr {% if value.2 < 60 or value.2 == "i" or value.2 == "I" %}class=danger{% endif %}>
			       <td>{{value.0}}</td>
			       <td>{{value.1}}</td>
			       <td>{{value.2}}</td>
		       </tr>
		       {% empty %}
		       <p>malformed gradesheet</p>
		       {% endfor %}
		</tbody>
	</table>
		<div class="accept-grade upload">
			<a href="/admin/upload/{{course}}" class="btn btn-primary" id="">
				Accept and Save
			</a>  
		</div>
</div>
{% endblock %}

{% block footer %}
{% include 'admin_footer.html'%}
{% endblock %}
