{% extends "base.html"%}
{% load widget_tweaks %}

{% block contents %}
<div class="container">
    <h3 class="text-nowrap align-center">Please provide a new password in the form below </h3>
    <div id="" class="form-container compact-login-form">
	    <form id="password-reset-confirm" action="" role="form" method="post">
		    {% csrf_token %}
                <div class="form-group">
			<label class="control-label" for="{{form.password.auto_id}}">
				{{form.password.label}}
			</label>
			        {% render_field form.password class+="form-control" %}
		</div>
                <div class="form-group">
			<label class="control-label" for="{{form.password_confirm.auto_id}}">
				{{form.password_confirm.label}}
			</label>
			        {% render_field form.password_confirm class+="form-control" %}
		</div>
		<div class="">
	                <button type="submit" class="btn btn-primary login-button">
		                Reset Your Password
			</button> 
		</div>
	    </form>
    </div>
</div>
{% endblock %}
