{% extends "base.html" %}
{% load widget_tweaks %}
{% load info_system_extras %}
{% block navbar%}
<div class="navbar navbar-default navbar-fixed-top {{navbar_admin}}">
<div class="nav-container">
  <div class="navbar-header">
	  <a class="navbar-brand {{navbar_admin_brand}}" href="#">{{title}}</a>
  </div>
  <div class="nav-menu-container">
	  <ul class="nav-menu-list">
		  <li class="nav-menu-item active"><a class="menu-item-link" href="{% url 'student:activities' %}">
				  Activities <span class="badge">{{object_list.count}}</span></a></li>
		  <li class="nav-menu-item"><a class="menu-item-link" href="{% url 'student:profile' %}">
				  Profile</a></li>
		  <li class="nav-menu-item"><a class="menu-item-link" href="{%url 'student:about'%}">
				  About</a></li>
	  </ul>
  </div>

</div>
{% if user.is_authenticated %}
<div class="user dropdown">
  <a href="#" data-toggle="dropdown" class="dropdown-toggle" >
	  <span class="fa fa-user"> </span> {{user.username|lower}}
	  <span class="caret"></span> 
  </a>
  <ul class="dropdown-menu">
	  <li><a href=""><span class="fa fa-lock"></span> Account</a></li>
	  <li><a href="{% url logout %}"><span class="fa fa-arrow-right">
			  </span> Logout</a>
	  </li>
  </ul>
</div>
{% endif %}
</div>
{% endblock %}

{% block contents %}
<div class="container">
	<div class="page-title" style="margin-bottom: 20px;">All Your Activities</div>
		{% for activity in object_list %}
		<div class="list-wrapper">
	           <div class="row list-item">
			   <a class="list-item-link" href="{% url 'student:activity-details' activity.pk %}">
		          <div class="col-xs-8">
			       <div class="color-badge
				{% if activity.date < today.date or activity.date == today.date and activity.time < today.time %}
				 activity-past{% else %} activity-upcoming{% endif %}">
			       </div>   
			       <p class="list-item-name text-nowrap">{{activity.title|upper}}</p>
			  </div>
			  <div class="col-xs-2">
				     <p class="list-item-name">{{activity.date|date:"D j M, Y"}}</p>
			  </div>
			  <div class="col-xs-2">
				  <span class="badge date">{{activity.date|human_date}}</span>
			  </div>
		        </a>
		     </div>
		</div>
		<hr>
		{% empty %}
		    <p>No activities are available to display</p>
		{% endfor %}
</div>
{% endblock %}

{% block footer %}
	<div class="footer">
	    <div class="container">
	    
	    </div>

	</div>
{% endblock %}
